{% extends "base.html" %}

<!-- head block -->
{% block head %}
  <title>Home</title>
{% endblock %}

<!-- body block -->
{% block body %}
  <h1>Home</h1>
  <h3>This is an example of what a web application built using Flask might look like.</h3>

  <p>Flask is a Framework for Python. It helps you code a website more quickly and efficiently by providing you with an easy way to create re-usable templates. The templates have all the boring code that's re-used on every webpage. Then you add whatever unique code you'd like on each individual page.</p>
{% endblock %}